@supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  
    .grid__item {
      width: auto;
      min-height: auto;
      margin: 0;
    }
  
}