<section class="grid">
    <div class="grid__item" [ngClass]="monIsActive ? 'day__item--active' : 'day__item'">Mon</div>
    <div class="grid__item" [ngClass]="tueIsActive ? 'day__item--active' : 'day__item'">Tue</div>
    <div class="grid__item" [ngClass]="wedIsActive ? 'day__item--active' : 'day__item'">Wed</div>
    <div class="grid__item" [ngClass]="thuIsActive ? 'day__item--active' : 'day__item'">Thu</div>
    <div class="grid__item" [ngClass]="friIsActive ? 'day__item--active' : 'day__item'">Fri</div>
    <div class="grid__item" [ngClass]="satIsActive ? 'day__item--active' : 'day__item'">Sat</div>
    <div class="grid__item" [ngClass]="sunIsActive ? 'day__item--active' : 'day__item'">Sun</div>
</section>
