@import '../../../sass/grid';

section {
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    background: linear-gradient(-140deg,  #079cd2, #33ddb5);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
    border-radius: 10px;

    box-shadow: rgba(17, 12, 46, 0.176) 0px 48px 100px 0px;

    .day__item {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 70px;
        width: 70px;
        margin: 8px;
        color: white;
        border-radius: 250px;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight:lighter;
        
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='2' stroke-dasharray='16%25%2c 13%25' stroke-dashoffset='1' stroke-linecap='butt'/%3e%3c/svg%3e");
        border-radius: 100px;

        transition: all .1s ease-in;
    }

    .day__item--active {
        @extend .day__item;
        background-image: none;
        border: solid 1.5px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 40%;
    }
    50% {
        background-position: 80% 40%;
    }
    100% {
        background-position: 0% 40%;
    }
}

@media (max-width: 580px) {

    section {
        .day__item {
            height: 40px;
            width: 40px;
            margin: 4px;
            font-size: 13px;
            
        }
    }
}

