/* You can add global styles to this file, and also import other style files */

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(-220deg,  white, rgb(251, 250, 250), rgb(239, 237, 237));;
}